
@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = true;
})



@Html.Vertex().Section().ContentTemplate(@<text>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarSubscribeForm", new SubscriberModel())
                </div>

                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarFollowLinks")
                </div>

                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarCategories")
                </div>

                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarPopularPosts")
                </div>

                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarLatestPosts")
                </div>

                <div class="mb-9">
                    @Html.Vertex().Widget("SidebarLatestComments")
                </div>
            </div>

            <div class="col-lg-8">
                <p class="mnt-5 ml-3">
                    Vertex has more than one blog styles,
                    <a href="../feature/blog.html" class="anim-link-2 anim-link-2-primary">click to see <span class="icon-arrow-right ml-1"></span></a>
                </p>

                @Html.Vertex().BlogPosts(BlogPostViewName.ListBottomText).Pageable(3)

            </div>

        </div>
    </div>

</text>)



@Html.Vertex().Footer()
