@model UserShortInfo

<div class="@Model.GetCssClass()" @Model.GetStyle() @Model.GetHtmlAtributes()>
    <div class="media">
        <div class="w-15 avatar mr-3">
            <div class="vpicture-wrap vpicture-wrap-100px">
                <div class="vpicture-wrap-inner">
                    <div class="vpicture-wrap-image" style="background-image: url('@Model.User.Avatar.FilePath')"></div>
                </div>
            </div>
            @*<img class="img-fluid rounded-circle" src="@Model.User.Avatar.FilePath" alt="Image Description">*@
        </div>
        <div class="media-body">
            <div class="row mb-3 mb-sm-0 align-content-center">
                <div class="col-sm-9 mb-2">
                    <h4 class="d-inline-block mb-1">
                        <a class="d-block h5 mb-0" href="/User/@Model.User.UserName">@Model.User.UserName</a>
                    </h4>
                    <div class="d-block text-muted"> <span class="label label--primary label--xs">Admin</span> </div>
                </div>
                @*<div class="col-sm-3 text-sm-right">
                    <a href="/User/@Model.User.UserName" class="btn btn-xs btn-sleek-primary font-weight-semi-bold transition-hover">View</a>
                </div>*@
            </div>
            <p class="">@Html.Raw(Model.User.Description)</p>

            @if (Model.User.SocialNetworks != null && Model.User.SocialNetworks.Count > 0)
            {
                <div class="social social-brand">
                    @foreach (var socialLink in Model.User.SocialNetworks)
                    {
                        <a target="_blank" href="@socialLink.WebAddress" class="social-@socialLink.Name.ToLower()" title="View on @socialLink.Name">
                            <i class="@AvailableSocialNetwork.Icons[socialLink.Name].Icon"></i>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>