@model ForgotPasswordViewModel

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowLogo = false;
    settings.ShowTopbar = false;
    settings.ShowSearchIcon = true;
    settings.StickyType = HeaderStickyType.Shrink;
    settings.Transparency = HeaderTransparency.Transparent;
})

@{
    ViewBag.Title = "Forgot your password?";
}

<div class="d-flex align-items-center position-relative h-100vh bg-light">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center bg-img h-100vh px-0" data-overlay="1" style="background-image:url(../Content/img/mix/desktop-7.png);">
        <div class="w-100 p-7 text-center">

            <div class="position-absolute right-0 top-0 left-0 p-5">
                <a href="../index.html">
                    <img src="../Content/img/logo-white.png" width="150" />
                </a>
            </div>

            <div class="text-white position-relative">
                <h1>
                    Join Our Community
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, coectetuer adipiscing
                    elit sed diam nonummy et nibh euismod
                </p>
            </div>

            <div class="position-absolute right-0 bottom-0 left-0 text-center text-white p-5">
                <div class="row">
                    <div class="col-6">
                        <p class="fs-14 mb-0 mt-1">© <span class="o-7"> Master 2019</span></p>
                    </div>
                    <div class="col-6">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
                            <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
                            <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8 col-xl-6 offset-md-1 offset-lg-1 offset-xl-2">
                <div class="mb-6">
                    <h2 class="h3 font-weight-normal mb-0">Reset Password</h2>
                    <p>Recovery your password.</p>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "input-line vertex-input", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="vertex-input-group first last">
                        <div class="apend-wrap">
                            <i class="icon-mail-2"></i>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "required" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your email", @maxlength = "60" })
                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary d-inline-block transition-hover pr-6 pl-6 mr-2" value="Recovery">
                            <p class="d-inline-block">
                                @Html.ActionLink("Sign In", "Login", "Account", new { @class = "text-primary anim-link" })
                            </p>
                            <p class="d-inline-block">
                                or
                                @Html.ActionLink("Sign Up", "Register", "Account", new { @class = "text-primary anim-link" })
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>