@model Telerik.Web.Mvc.GridModel<TeamMemberModel>

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = true;
})

@Html.Partial("_Breadcrumb", "Team Members")

<section class="section pt-8 bg-light">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3">
                @Html.Partial("_LeftNav")
            </div>
            <div class="col-md-9">

                <div class="row mb-3">

                    <div class="col-md-6">
                        <a class="btn btn-sleek-primary btn-sm pl-4 pr-4 transition-hover" href="@Url.Action("Create", "TeamMember")">
                            <i class="fa fa-plus mr-1 fs-12"></i> Add New
                        </a>
                    </div>
                </div>

                @(Html.Telerik().Grid<TeamMemberModel>().Name("team-grid").BindTo(Model.Data).Columns(columns => {
                       columns.Bound(x => x.PictureUrl).RoundedImage().Sortable(false).Width(80)
                             .Template(@<text><img alt="@item.Name" src="@item.PictureUrl" width="40" /></text>)
                             .ClientTemplate("<div class='zoomable-thumb-container'><img alt='<#= Id #>' src='<#= ImageUrl #>' /></div>");
                       columns.Bound(x => x.Name).Width(300).Template(x => Html.ActionLink(x.Name, "Edit", "TeamMember", new { id = x.Id }, new { }));
                       columns.Bound(x => x.Position).Width(150);
                       columns.Bound(x => x.OrderNo);
                       columns.Bound(x => x.IsActive).Centered().Template(item => @Html.SymbolForBool(item.IsActive)).ClientTemplate(@Html.SymbolForBool("Published"));
                       columns.Bound(x => x.Id)
                           .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }, new { @class = "t-button" }))
                           .ClientTemplate("<a href=\"TeamMember/Edit/<#= Id #>\" class=\"t-button\">Edit</a>")
                           .Title(String.Empty).Width(100)
                           .HtmlAttributes(new { align = "right", @class = "omega" });
                     })
                     .Pageable(settings => settings.Total(Model.Total).PageSize(10)
                     .Position(GridPagerPosition.Both)).Sortable(x => { x.AllowUnsort(true); x.SortMode(GridSortMode.SingleColumn);}))

            </div>
        </div>
    </div>
</section>



@Html.Vertex().Footer()