@model Footer

@{
    string siteName = Setting("general.meta.title").Value;
}

@using (Html.PageWrapContent("footer"))
{
    <footer class="bg-dark p-0 @Model.GetCssClass()" @Model.GetStyle() @Model.GetHtmlAtributes()>
        <div class="container pt-10 pb-9">
            <div class="row">
                <div class="col-sm-5">
                    <img alt="@siteName" src="@Setting("general.site.whitelogo").PictureUrl" class="mb-4" width="120">
                    <h2 class="h6 text-light">
                        <span class="m-link-light">@siteName</span> is the innovation platform <br>
                        for business. And cats.
                    </h2>
                    <div class="social social-light mt-3">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-1">
                                <a class="btn btn-icon btn-sleek-secondary btn-sm" href="#">
                                    <span class="fab fa-facebook-f btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item mr-1">
                                <a class="btn btn-icon btn-sleek-secondary btn-sm" href="#">
                                    <span class="fab fa-twitter btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item mr-1">
                                <a class="btn btn-icon btn-sleek-secondary btn-sm" href="#">
                                    <span class="fab fa-pinterest btn-icon__inner"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h3 class="h6 mb-3 text-white">
                        Quick Links
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="@Url.Action("GridRightSidebar", "Blog")">News</a></li>
                        <li><a class="m-list--link" href="@Url.Action("AwesomeWork", "Portfolio")">Projects</a></li>
                        <li><a class="m-list--link" href="@Url.Action("Accordion", "UIKit")">UI Kit</a> </li>
                        <li><a class="m-list--link" href="@Url.Action("BlogPost", "Features")">Features</a> </li>
                        <li><a class="m-list--link" href="@Url.Action("Jobs", "Page")">Jobs <span class="badge badge-secondary">@Html.Vertex().Jobs().GetActiveJobs().Count()</span></a> </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3 class="h6 mb-3 text-white">
                        About
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="@Url.Action("About", "Page")">About Us</a></li>
                        <li><a class="m-list--link" href="@Url.Action("Contact", "Page")">Contact Us</a></li>
                        <li><a class="m-list--link" href="@Url.Action("Services", "Page")">Services</a></li>
                        <li><a class="m-list--link" href="@Url.Action("Team", "Page")">Meet Team</a> </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="h6 mb-3 text-white">
                        Contact Us
                    </h3>

                    <address class="fs-14 text-white-50">
                        <strong class="text-white">Twitter, Inc.</strong><br>
                        1355 Market St, Suite 900<br>
                        San Francisco, CA 94103<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address class="fs-14">
                        <strong class="text-white">Full Name</strong><br>
                        <a class="m-link" href="mailto:#">@Setting("general.site.email").Value</a>
                    </address>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="container m-gab-1 border-top-muted">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><span class="fs-17">©</span> @DateTime.UtcNow.Year <span class="m-link-light">@siteName</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
}