@model Telerik.Web.Mvc.GridModel<PortfolioModel>
@using Telerik.Web.Mvc.UI


@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = true;
})


@Html.Partial("_Breadcrumb", "Portfolios")


<section class="section pt-8 bg-light">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3">
                @Html.Partial("_LeftNav")
            </div>
            <div class="col-md-9">

                <div class="row mb-3">

                    <div class="col-md-6">
                        <a class="btn btn-sleek-primary btn-sm pl-4 pr-4 transition-hover" href="@Url.Action("Create", "Portfolio")">
                            <i class="fa fa-plus mr-1 fs-12"></i> Add New
                        </a>
                    </div>
                </div>

                @(Html.Telerik().Grid<PortfolioModel>()
                            .Name("PortfolioModel-grid")
                            .BindTo(Model.Data)
                            .Columns(columns =>
                            {
                                columns.Bound(x => x.PicturePath).Centered().Sortable(false).Width(80)
						        .Template(@<text><img alt="@item.Id" src="@item.PicturePath" width="40" /></text>)
                                .ClientTemplate("<div class='zoomable-thumb-container'><img alt='<#= Id #>' src='<#= ImageUrl #>' /></div>"); 
                                columns.Bound(x => x.Title).Width(400).Template(x => Html.ActionLink(x.Title, "Edit", "Portfolio", new { id = x.Id }, new { }));
                                columns.Bound(x => x.UserName).Width(140).Template(x => Html.ActionLink(x.UserName, "Edit", "User", new { id = x.UserId }, new { }));
                         columns.Bound(x => x.IsActive).Centered().Template(item => @Html.SymbolForBool(item.IsActive)).ClientTemplate(@Html.SymbolForBool("Published"));
                         columns.Bound(x => x.CreateDate);
                     }).Pageable(settings => settings.Total(Model.Total).PageSize(15).Position(GridPagerPosition.Both))
                )

            </div>
        </div>
    </div>
</section>
 

@Html.Vertex().Footer()