
@{ ViewBag.Title = "Accordion"; }

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = false;
    settings.StickyType = HeaderStickyType.Shrink;
    settings.BorderBottom = HeaderBorderBottom.Light;
})

@Html.Partial("_Banner", "Alert")


@Html.Vertex().Section().Size(SectionSize.Small).ContentTemplate(@<text>

    <div class="container">
        <div class="row justify-content-center">


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Sidebar
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="col-md-3">
                <aside id="sidebar" class="sidebar sidebar-sticky">
                    <ul class="nav nav-sidebar nav-sidebar-hero nav-sidebar-pill" data-accordion="true">
                        <li class="nav-item"><a class="nav-link" href="#Default">Default</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#Color">Color</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#Dismissible">Dismissible</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#Size">Size</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#methods">Methods</a> </li>
                    </ul>
                </aside>
            </div>


            <div class="col-md-7">
                 

                <div class="mb-9" id="Default">
                    <header class="mb-6">
                        <h2 class="h4">Default</h2>
                        <hr>
                        <p class="lead-1">Use <code>@@Html.Vertex().Alert(string text)</code> method to create a alert</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-1-1" role="tab" aria-controls="component-1-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-1-2" role="tab" aria-controls="component-1-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light" id="component-1-content">
                        <div class="tab-pane fade show active p-4" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            @Html.Vertex().Alert().Text("This is a primary alert — check it out!")
                        </div>
                        <div class="tab-pane fade bg-light" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
                            <pre><code class="language-csharp">@@Html.Vertex().Alert("This is a primary alert — check it out!")</code>
                        </pre>
                        </div>
                    </div>
                </div>

                 
                <div class="mb-9" id="Color">
                    <header class="mb-6">
                        <h2 class="h4">Color</h2>
                        <hr>
                        <p class="lead-1">use <code>.Color(BootstrapColor color)</code> method to set color</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-2-1" role="tab" aria-controls="component-2-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light" id="component-2-content">
                        <div class="tab-pane fade show active p-4" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1"> 
                            @Html.Vertex().Alert().Text("This is a Danger alert — check it out!").Color(BootstrapColor.Danger)
                            @Html.Vertex().Alert().Text("This is a Dark alert — check it out!").Color(BootstrapColor.Dark)
                            @Html.Vertex().Alert().Text("This is a primary alert — check it out!").Color(BootstrapColor.Primary)
                            @Html.Vertex().Alert().Text("This is a Secondary alert — check it out!").Color(BootstrapColor.Secondary)
                            @Html.Vertex().Alert().Text("This is a Success alert — check it out!").Color(BootstrapColor.Success)
                            @Html.Vertex().Alert().Text("This is a Warning alert — check it out!").Color(BootstrapColor.Warning)
                        </div>
                        <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                            <pre><code class="language-csharp">@@Html.Vertex().Alert("This is a Danger alert — check it out!").Color(BootstrapColor.Danger)
@@Html.Vertex().Alert("This is a Dark alert — check it out!").Color(BootstrapColor.Dark)
@@Html.Vertex().Alert("This is a primary alert — check it out!").Color(BootstrapColor.Primary)
@@Html.Vertex().Alert("This is a Secondary alert — check it out!").Color(BootstrapColor.Secondary)
@@Html.Vertex().Alert("This is a Success alert — check it out!").Color(BootstrapColor.Success)
@@Html.Vertex().Alert("This is a Warning alert — check it out!").Color(BootstrapColor.Warning)</code> </pre>
                        </div>
                    </div>
                </div>

                
                <div class="px-6 py-6 bg-gray mb-9" id="Dismissible">
                    <header class="mb-6">
                        <h3>Dismissible</h3>
                        <hr>
                        <p class="lead-1">use <code>.Dismissible(bool dismissible)</code> method to set dismissible</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-3-1" role="tab" aria-controls="component-3-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-3-2" role="tab" aria-controls="component-3-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-3-content">
                        <div class="tab-pane fade show active" id="component-3-1" role="tabpanel" aria-labelledby="component-3-1">
                            @Html.Vertex().Alert().Text("Dismissible set to false.").Dismissible(false)
                            @Html.Vertex().Alert().Text("Dismissible set to true").Color(BootstrapColor.Warning).Dismissible(true)
                        </div>
                        <div class="tab-pane fade" id="component-3-2" role="tabpanel" aria-labelledby="component-3-2">
                            <pre><code class="language-csharp">@@Html.Vertex().Alert("Dismissible set to false.").Dismissible(false)
@@Html.Vertex().Alert("Dismissible set to true").Color(BootstrapColor.Warning).Dismissible(true)</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="px-6 py-6 bg-gray mb-9" id="Size">
                    <header class="mb-6">
                        <h3>Size</h3>
                        <hr>
                        <p class="lead-1">use <code>.Size(AlertSize size)</code> method to set size</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-4-1" role="tab" aria-controls="component-4-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-4-2" role="tab" aria-controls="component-4-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-4-content">
                        <div class="tab-pane fade show active" id="component-4-1" role="tabpanel" aria-labelledby="component-4-1">
                            @Html.Vertex().Alert().Text("Small size").Size(AlertSize.Small)
                            @Html.Vertex().Alert().Text("Default size").Size(AlertSize.Default) 
                            @Html.Vertex().Alert().Text("Large size").Size(AlertSize.Large)
                        </div>
                        <div class="tab-pane fade" id="component-4-2" role="tabpanel" aria-labelledby="component-4-2">
                            <pre><code class="language-csharp">@@Html.Vertex().Alert("Small size").Size(AlertSize.Small)
@@Html.Vertex().Alert("Default size").Size(AlertSize.Default) 
@@Html.Vertex().Alert("Large size").Size(AlertSize.Large)</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div id="methods" class="mb-9">
                    <h2 class="h4">Methods <a class="anchorjs-link" href="#methods" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>

                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr>
                                <th  style="width:35%">Method</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <p><code class="highlighter-rouge">.Method(bool value)</code></p> </td>
                                <td>Comming soon.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</text>)


@Html.Vertex().Footer()