
@{ ViewBag.Title = "Oval Divider"; }

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = false;
    settings.StickyType = HeaderStickyType.Shrink;
    settings.BorderBottom = HeaderBorderBottom.Light;
})

@Html.Partial("_Banner", "Oval Divider")


@Html.Vertex().Section().Size(SectionSize.Small).ContentTemplate(@<text>

    <div class="container">
        <div class="row justify-content-center">
            
            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Sidebar
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="col-md-3">
                <aside id="sidebar" class="sidebar sidebar-sticky">
                    <ul class="nav nav-sidebar nav-sidebar-hero nav-sidebar-pill" data-accordion="true">
                        <li class="nav-item"><a class="nav-link" href="#Default">Default</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#Position">Position</a> </li>
                        @*<li class="nav-item"><a class="nav-link" href="#HowToUse">How to use</a> </li>*@ 
                        <li class="nav-item"><a class="nav-link" href="#methods">Methods</a> </li>
                    </ul>
                </aside>
            </div>
            
            <div class="col-md-7">
                
                <div class="mb-9" id="Default">
                    <header class="mb-6">
                        <h3>Default</h3>
                        <hr>
                        <p class="lead-1">Use <code>@@Html.Vertex().OvalDivider(OvalDividerType type)</code> method to create a oval divider</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-1-1" role="tab" aria-controls="component-1-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-1-2" role="tab" aria-controls="component-1-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-1-content">
                        <div class="tab-pane fade show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            <code class="pb-2">Divider1</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider1)
                            </section>

                            <code class="pb-2">Divider2</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider2)
                            </section>

                            <code class="pb-2">Divider3</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider3)
                            </section>

                            <code class="pb-2">Divider4</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider4)
                            </section>

                            <code class="pb-2">Divider5</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider5)
                            </section>

                            <code class="pb-2">Divider6</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider6)
                            </section>

                            <code class="pb-2">Divider7</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider7)
                            </section>

                            <code class="pb-2">Divider8</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider8)
                            </section>

                            <code class="pb-2">Divider9</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider9)
                            </section>

                            <code class="pb-2">Divider10</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider10)
                            </section>

                            <code class="pb-2">Divider11</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider11)
                            </section>

                            <code class="pb-2">Divider12</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider12)
                            </section>

                            <code class="pb-2">Divider13</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider13)
                            </section>

                            <code class="pb-2">Divider14</code>
                            <section class="bg-primary py-9 mt-2 mb-4">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider14)
                            </section>
                        </div>
                        <div class="tab-pane fade" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
                            <pre><code class="language-csharp">@@Html.Vertex().OvalDivider(OvalDividerType.Divider1)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider2)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider3)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider4)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider5)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider6)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider7)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider8)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider9)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider10)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider12)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider13)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider14)</code>
                        </pre>
                        </div>
                    </div>
                </div>
                
                <div class="mb-9" id="Position">
                    <header class="mb-6">
                        <h3>Position</h3>
                        <hr>
                        <p class="lead-1">Use <code>.Position(OvalDividerPosition position)</code> method to set position. Default position is <code>OvalDividerPosition.Bottom</code> </p>
                    </header>

                    <ul class="nav nav-bordered" id="component-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-2-1" role="tab" aria-controls="component-2-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-2-content">
                        <div class="tab-pane fade show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
                            <code class="pb-2">Divider1</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider1).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider2</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider2).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider3</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider3).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider4</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider4).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider5</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider5).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider6</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider6).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider7</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider7).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider8</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider8).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider9</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider9).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider10</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider10).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider11</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider11).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider12</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider12).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider13</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider13).Position(OvalDividerPosition.Top)
                            </section>

                            <code class="pb-2">Divider14</code>
                            <section class="bg-primary py-9 mt-2 mb-6">
                                @Html.Vertex().OvalDivider(OvalDividerType.Divider14).Position(OvalDividerPosition.Top)
                            </section>
                        </div>
                        <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                            <pre><code class="language-csharp">@@Html.Vertex().OvalDivider(OvalDividerType.Divider1).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider2).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider3).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider4).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider5).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider6).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider7).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider8).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider9).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider10).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider12).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider13).Position(OvalDividerPosition.Top)
@@Html.Vertex().OvalDivider(OvalDividerType.Divider14).Position(OvalDividerPosition.Top)</code>
                        </pre>
                        </div>
                    </div>
                </div>
                
                <div id="methods" class="mb-9">
                    <h2 class="h4">Methods <a class="anchorjs-link" href="#methods" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>

                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr>
                                <th  style="width:35%">Method</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <p><code class="highlighter-rouge">.Method(bool value)</code></p> </td>
                                <td>Comming soon.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

</text>)


@Html.Vertex().Footer()