
@{ ViewBag.Title = "Tab"; }

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = false;
    settings.StickyType = HeaderStickyType.Shrink;
    settings.BorderBottom = HeaderBorderBottom.Light;
})

@Html.Partial("_Banner", "Tab")


<section class="m-gab-2">

    <div class="container">
        <div class="row justify-content-center">


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Sidebar
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="col-md-3">
                <aside id="sidebar" class="sidebar sidebar-sticky">
                    <ul class="nav nav-sidebar nav-sidebar-hero nav-sidebar-pill" data-accordion="true">
                        <li class="nav-item"><a class="nav-link" href="#Default">Default</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#HorizontalAlignment">Horizontal Alignment</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#VerticalNav">Vertical Nav</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#PillsNav">Pills Nav</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#FillNav">Fill Nav</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#methods">Methods</a> </li>
                    </ul>
                </aside>
            </div>


            <div class="col-md-7">


                <div class="px-6 py-6 bg-gray mb-9" id="Default">
                    <header class="mb-6">
                        <h3>Default</h3>
                        <hr>
                        <p class="lead-1">Use <code>@@Html.Vertex().Tab(Action[TabBuilder] action)</code> method to create a countup</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-1-1" role="tab" aria-controls="component-1-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-1-2" role="tab" aria-controls="component-1-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-1-content">
                        <div class="tab-pane fade show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            @(Html.Vertex().Tab(tab =>
                                {
                                    tab.Add().Title("Tab One").Content("Content one").Active();
                                    tab.Add().Title("Tab Two").Content("Content two");
                                    tab.Add().Title("Disabled").Content("Content three").Disabled();
                                }))
                        </div>
                        <div class="tab-pane fade" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
                            <pre><code class="language-csharp">@@(Html.Vertex().Tab(tab => {
    tab.Add().Title("Tab One").Content("Content one").Active();
    tab.Add().Title("Tab Two").Content("Content two");
    tab.Add().Title("Disabled").Content("Content three").Disabled();
}))</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="px-6 py-6 bg-gray mb-9" id="HorizontalAlignment">
                    <header class="mb-6">
                        <h3>Horizontal Alignment</h3>
                        <hr>
                        <p class="lead-1">use <code>.HorizontalAlignment(TabHorizontalAlignment horizontalAlignment)</code> method to set horizontal alignment.</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-2-1" role="tab" aria-controls="component-2-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-2-content">
                        <div class="tab-pane fade show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
                            @(Html.Vertex().Tab(tab =>
                                {
                                    tab.Add().Title("Tab One").Content("Content one").Active();
                                    tab.Add().Title("Tab Two").Content("Content two");
                                    tab.Add().Title("Disabled").Content("Content three").Disabled();
                                }).HorizontalAlignment(TabHorizontalAlignment.Center))
                        </div>
                        <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                            <pre><code class="language-csharp">@@(Html.Vertex().Tab(tab => {
    tab.Add().Title("Tab One").Content("Content one").Active();
    tab.Add().Title("Tab Two").Content("Content two");
    tab.Add().Title("Disabled").Content("Content three").Disabled();
}).HorizontalAlignment(TabHorizontalAlignment.Center))</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="px-6 py-6 bg-gray mb-9" id="VerticalNav">
                    <header class="mb-6">
                        <h3>Vertical Nav</h3>
                        <hr>
                        <p class="lead-1">use <code>.VerticalNav()</code> method to set vertical nav.</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-3-1" role="tab" aria-controls="component-3-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-3-2" role="tab" aria-controls="component-3-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-3-content">
                        <div class="tab-pane fade show active" id="component-3-1" role="tabpanel" aria-labelledby="component-3-1">
                            @(Html.Vertex().Tab(tab =>
                                {
                                    tab.Add().Title("Tab One").Content("Content one").Active();
                                    tab.Add().Title("Tab Two").Content("Content two");
                                    tab.Add().Title("Disabled").Content("Content three").Disabled();
                                }).VerticalNav())
                        </div>
                        <div class="tab-pane fade" id="component-3-2" role="tabpanel" aria-labelledby="component-3-2">
                            <pre><code class="language-csharp">@@(Html.Vertex().Tab(tab => {
    tab.Add().Title("Tab One").Content("Content one").Active();
    tab.Add().Title("Tab Two").Content("Content two");
    tab.Add().Title("Disabled").Content("Content three").Disabled();
}).VerticalNav())</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="px-6 py-6 bg-gray mb-9" id="PillsNav">
                    <header class="mb-6">
                        <h3>Pills Nav</h3>
                        <hr>
                        <p class="lead-1">use <code>.PillsNav()</code> method to set pills nav.</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-4-1" role="tab" aria-controls="component-4-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-4-2" role="tab" aria-controls="component-4-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-4-content">
                        <div class="tab-pane fade show active" id="component-4-1" role="tabpanel" aria-labelledby="component-4-1">
                            @(Html.Vertex().Tab(tab =>
                                {
                                    tab.Add().Title("Tab One").Content("Content one").Active();
                                    tab.Add().Title("Tab Two").Content("Content two");
                                    tab.Add().Title("Disabled").Content("Content three").Disabled();
                                }).PillsNav())
                        </div>
                        <div class="tab-pane fade" id="component-4-2" role="tabpanel" aria-labelledby="component-4-2">
                            <pre><code class="language-csharp">@@(Html.Vertex().Tab(tab => {
    tab.Add().Title("Tab One").Content("Content one").Active();
    tab.Add().Title("Tab Two").Content("Content two");
    tab.Add().Title("Disabled").Content("Content three").Disabled();
}).PillsNav())</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div id="methods" class="mb-9">
                    <h2 class="h4">Methods <a class="anchorjs-link" href="#methods" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>

                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr>
                                <th style="width:35%">Method</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <p><code class="highlighter-rouge">.Method(bool value)</code></p> </td>
                                <td>Comming soon.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</section>

@Html.Vertex().Footer()