
@{ ViewBag.Title = "Countup"; }

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = false;
    settings.StickyType = HeaderStickyType.Shrink;
    settings.BorderBottom = HeaderBorderBottom.Light;
})

@Html.Partial("_Banner", "Team Member")


@Html.Vertex().Section().Size(SectionSize.Small).ContentTemplate(@<text>

    <div class="container">
        <div class="row justify-content-center">


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Sidebar
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="col-md-3">
                <aside id="sidebar" class="sidebar sidebar-sticky">
                    <ul class="nav nav-sidebar nav-sidebar-hero nav-sidebar-pill" data-accordion="true">
                        <li class="nav-item"><a class="nav-link" href="#Default">Default</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#ToSlider">To Slider</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#Variation">Variation</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#methods">Methods</a> </li>
                    </ul>
                </aside>
            </div>


            <div class="col-md-7">


                <div class="mb-9" id="Default">
                    <header class="mb-6">
                        <h3>Default</h3>
                        <hr>
                        <p class="lead-1">Use <code>@@Html.Vertex().TeamMember()</code> method to to list team members</p>
                    </header>

                    <ul class="nav nav-bordered" id="component-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-1-1" role="tab" aria-controls="component-1-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-1-2" role="tab" aria-controls="component-1-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-1-content">
                        <div class="tab-pane fade show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            @Html.Vertex().TeamMember().DisplayCount(2)
                        </div>
                        <div class="tab-pane fade" id="component-1-2" role="tabpanel" aria-labelledby="component-1-2">
                            <pre><code class="language-csharp">@@Html.Vertex().TeamMember().DisplayCount(2)</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="mb-9" id="ToSlider">
                    <header class="mb-6">
                        <h3>To Slider</h3>
                        <hr>
                        <p class="lead-1 mb-0">use <code>.ToSlider(Action[Slider] action)</code> method to make slider</p>
                        <p>
                            You can see another slider option by click
                            <a href="@Url.Action("Slider", "UIKit")" target="_blank" class="anim-link-2 anim-link-2-primary">here <span class="icon-arrow-right ml-1"></span></a>
                        </p>

                    </header>

                    <ul class="nav nav-bordered" id="component-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-2-1" role="tab" aria-controls="component-2-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-2-content">
                        <div class="tab-pane fade show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
                            @Html.Vertex().TeamMember().DisplayCount(4).ToSlider(slider => {
                                    slider.SlidesToShow(2);
                                    slider.Dots();
                                })
                        </div>
                        <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                            <pre><code class="language-csharp">@@Html.Vertex().TeamMember().DisplayCount(4).ToSlider(slider => {
    slider.SlidesToShow(2);
    slider.Dots();
})</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div class="mb-9" id="Variation">
                    <header class="mb-6">
                        <h3>Variation</h3>
                        <hr>
                        <p class="lead-1">use <code>.Variation(TeamMemberVariation variation)</code> method to change view. Default variation is <code>TeamMemberVariation.Variation1</code> </p>
                    </header>

                    <ul class="nav nav-bordered" id="component-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#component-3-1" role="tab" aria-controls="component-3-1" aria-selected="true">Preview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#component-3-2" role="tab" aria-controls="component-3-2" aria-selected="false">ASP.NET MVC</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="component-3-content">
                        <div class="tab-pane fade show active" id="component-3-1" role="tabpanel" aria-labelledby="component-3-1">
                            @Html.Vertex().TeamMember().DisplayCount(2).Variation(TeamMemberVariation.Variation2)
                        </div>
                        <div class="tab-pane fade" id="component-3-2" role="tabpanel" aria-labelledby="component-3-2">
                            <pre><code class="language-csharp">@@Html.Vertex().TeamMember()
     .DisplayCount(2)
     .Variation(TeamMemberVariation.Variation2)</code>
                        </pre>
                        </div>
                    </div>
                </div>


                <div id="methods" class="mb-9">
                    <h2 class="h4">Methods <a class="anchorjs-link" href="#methods" aria-label="Anchor" data-anchorjs-icon="#"></a></h2>

                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr>
                                <th style="width:35%">Method</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <p><code class="highlighter-rouge">.Method(bool value)</code></p> </td>
                                <td>Comming soon.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</text>)


@Html.Vertex().Footer()